#conteneur-2
    margin-top: 10px
    font-size: 60px
    margin-left: 10px
    margin-right:10px
    #title__1
        text-align: center    
    img
        width: 80%
    #contant_element 
        display: flex
        align-items: center
        justify-content: space-between  
        font-size: 30px
        #C__P
            background-color: #000000
            color: #ffffff

        
    