<div id="conteneur-2">

    <div id="title__1">
        Votre École sur Internet
    </div>

    <div id="contant_element">

       <div>
            <ul>
                <li>Cours, Exercices, Examens</li>
                <li>Documents, Vidéos, Tests</li>
                <li>Primaire, Collège et Lycée</li>
            </ul>
            <div id="C__P">Consultation personnelle</div>
       </div>

       <div class="conteneur____img">
            <img [src]="R2Path" alt="R2" >
       </div>

    </div>

</div>
