<div id="footer__global">

    <div id="container__image">
        <img [src]="R4Path" alt="R4" >
        <div id="regulation">
            <ul>
                <li><div class="circle"></div><div>CGU</div></li>
                <li><div class="circle"></div><div>CGV</div></li>
            </ul>
        </div>
    </div>

    <div id="container__service" >
        
        <ul class="N1">
            <li>Maroc :
                <ul class="N2">
                    <li>Cours, Exercices, Examens</li>
                    <li>Documents, Vidéos, Tests</li>
                    <li>Primaire, Collège et Lycée</li>
                </ul>
            </li>
        </ul>

    </div>

</div>
