

<div id="Branch">

    <div    *ngIf="InfoData!.length > 0; else noData">
      <ng-container *ngFor="let branch of InfoData">
        <div  >  
         
          <div  class="FlexBranch" ><div class="circle"></div><div>{{ branch.name }}</div>  </div>
   
    
      
    
            <ng-container *ngFor="let subjects of branch.Subjects">
              <div class="Subjects" ><div class="circle"></div><div>{{ subjects.name }}</div></div>
    

            </ng-container>
    
         
    
    
        </div>
      </ng-container>
    </div>
    <ng-template #noData>
      <p>No data available for the selected level.</p>
    </ng-template>
    
    
    
    
    
    
    
    
    
    </div>


   


<!---
  <div>

 
    <ul class="info-list" *ngIf="InfoData && InfoData.length > 0">
      <li *ngFor="let item of InfoData">
        {{ item.name }}
      </li>
    </ul>
    <div *ngIf="!InfoData || InfoData.length === 0">
      No data available.
    </div>


  </div>-->