<!--
<ul *ngIf="levelEducationData!.length > 0; else noData">
    <ng-container *ngFor="let establishment of levelEducationData">
      <li>{{ establishment.name }}
        <ul>
          <ng-container *ngFor="let branch of establishment.Branch">
            <li>{{ branch.name }}</li>
          </ng-container>
        </ul>
      </li>
    </ng-container>
  </ul>
  <ng-template #noData>
    <p>No data available for the selected level.</p>
  </ng-template>
  
-->



<div id="levelEducation">










<div    *ngIf="levelEducationData!.length > 0; else noData">
  <ng-container *ngFor="let establishment of levelEducationData">
    <div  >  <div  class="FlexLevelEducation" ><div class="circle"></div><div>{{ establishment.name }}</div>  </div>


   

        <ng-container *ngFor="let classLevel of establishment.ClassLevel">
          <div class="Establishment" style="background-color: aqua  !important;"><div class="circle"></div><div>{{ classLevel.name }}</div></div>

                    <div  class="Branch__conteneur">
                            <ng-container *ngFor="let branch of classLevel.Branch">

                                <div  class="Branch" [ngClass]="'N3'"> <div class="circle"></div><div>{{ branch.name }}</div></div>

                            </ng-container> 
                  
                    </div>


        </ng-container>

      


    </div>
  </ng-container>
</div>
<ng-template #noData>
  <p>No data available for the selected level.</p>
</ng-template>









</div>